@import "../vendor/font-awesome/font-awesome.min.css";

body {
  &::-webkit-scrollbar {
    height: 11px;
    width: 11px;

    -webkit-appearance: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(47, 46, 46, 0.2);
    border: 3px solid #fbf6f6;
    border-radius: 8px;
  }

  scrollbar-width: thin;
}

@mixin scroll {
  &::-webkit-scrollbar {
    height: 11px;
    width: 11px;

    -webkit-appearance: none;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgba(47, 46, 46, 0.2);
    border: 3px solid #fbf6f6;
    border-radius: 8px;
  }

  scrollbar-width: thin;

}

@mixin noscroll {
  /*scrollbar*/
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    width: 0;
  }
}


.grid {
  display: grid;
}


.align-right {
  text-align: right;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.clearfix {
  &:after {
    display: block;
    content: "";
    clear: both;
  }
}

.dib {
  display: inline-block;
}

.w-auto {
  width: auto;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &.j-center {
    justify-content: center;
  }

  &.j-fs {
    justify-content: flex-start;
  }

  &.j-fe {
    justify-content: flex-end;
  }

  &.ai-sf {
    align-items: flex-start;
  }

  &.ai-fe {
    align-items: flex-end;
  }

  &.fd-c {
    flex-direction: column;
  }

  &.fd-cr {
    flex-direction: column-reverse;
  }

  &.fd-rr {
    flex-direction: row-reverse;
  }

  &.fw-nw {
    flex-wrap: nowrap;
  }

}


main {
  display: grid;
  grid-template-areas: "sidebar content";
  grid-gap: 40px;
}


.disabled {
  cursor: default;
  opacity: .5;
}


.articles {
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  grid-auto-rows: max-content;
}

img {
  display: block;
  max-width: 100%;
}

.article-random-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: top;
}

.publications-item {
  cursor: pointer;
  padding-bottom: 30px;
  position: relative;

  .comments-count {
    position: absolute;
    font-size: 11px;
    line-height: 1;
    left: 0;
    top: -12px;

    &:before {
      font-family: FontAwesome, sans-serif;
      content: "\f0e5";
      margin-right: 3px;
    }
  }
}

.pointer {
  cursor: pointer;
}

.main-div {
  padding: 100px 0;
}

.content {
  img {
    display: block;
    max-width: 100%;
    margin-bottom: 20px;
  }
}

//COMPONENTS
@import "components/header";
@import "components/player";
@import "components/publication";
@import "components/lift";
@import "components/sidebar";
@import "components/modal";
@import "components/publications-nav";
@import "components/comments";
@import "components/login";

//MEDIA-QUERIES
@import "@media/tablet";
@import "@media/mobile";