@import url(../vendor/font-awesome/font-awesome.min.css);
body {
  scrollbar-width: thin; }
  body::-webkit-scrollbar {
    height: 11px;
    width: 11px;
    -webkit-appearance: none; }
  body::-webkit-scrollbar-thumb {
    background-color: rgba(47, 46, 46, 0.2);
    border: 3px solid #fbf6f6;
    border-radius: 8px; }

.grid {
  display: grid; }

.align-right {
  text-align: right; }

.align-left {
  text-align: left; }

.align-center {
  text-align: center; }

.float-left {
  float: left; }

.float-right {
  float: right; }

.clearfix:after {
  display: block;
  content: "";
  clear: both; }

.dib {
  display: inline-block; }

.w-auto {
  width: auto; }

.flex {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center; }
  .flex.j-center {
    justify-content: center; }
  .flex.j-fs {
    justify-content: flex-start; }
  .flex.j-fe {
    justify-content: flex-end; }
  .flex.ai-sf {
    align-items: flex-start; }
  .flex.ai-fe {
    align-items: flex-end; }
  .flex.fd-c {
    flex-direction: column; }
  .flex.fd-cr {
    flex-direction: column-reverse; }
  .flex.fd-rr {
    flex-direction: row-reverse; }
  .flex.fw-nw {
    flex-wrap: nowrap; }

main {
  max-width: 80%;
  margin: auto;
  display: grid;
  grid-template-areas: "sidebar content";
  grid-gap: 40px; }

.disabled {
  cursor: default;
  opacity: .5; }

.articles {
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
  grid-auto-rows: max-content; }

img {
  display: block;
  max-width: 100%; }

.article-random-img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  object-position: top; }

.publications-item {
  cursor: pointer;
  padding-bottom: 30px;
  position: relative; }
  .publications-item .comments-count {
    position: absolute;
    font-size: 11px;
    line-height: 1;
    left: 0;
    top: -12px; }
    .publications-item .comments-count:before {
      font-family: FontAwesome, sans-serif;
      content: "\f0e5";
      margin-right: 3px; }

.pointer {
  cursor: pointer; }

.main-div {
  padding: 100px 0; }

.content img {
  display: block;
  max-width: 100%;
  margin-bottom: 20px; }

.loader {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .2s ease-in-out;
  color: #000;
  font-size: 16px;
  opacity: 0; }
  .loader.loading {
    opacity: 1; }

header {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10; }

.search-form-group {
  position: relative; }
  .search-form-group .search-options {
    position: absolute;
    left: 0;
    top: calc(100% + 10px);
    background-color: rgba(238, 238, 238, 0.95);
    border-radius: 10px;
    overflow: hidden; }
    .search-form-group .search-options .inner {
      padding: 15px 10px; }
      .search-form-group .search-options .inner .option {
        padding: 5px;
        font-size: 16px;
        cursor: pointer; }
        .search-form-group .search-options .inner .option:not(:last-child) {
          border-bottom: 1px solid #b5b5b5; }
        .search-form-group .search-options .inner .option:hover, .search-form-group .search-options .inner .option.active {
          background-color: #000;
          color: #FFF; }

.navbar-brand.pointer {
  position: relative;
  z-index: 5; }

#auth {
  font-size: 18px;
  margin-right: 10px;
  cursor: pointer;
  position: relative;
  line-height: 1; }
  #auth:before {
    font-family: FontAwesome, sans-serif;
    content: "\f2be"; }

#navbarNavAltMarkup {
  justify-content: space-between; }
  #navbarNavAltMarkup .search-form-group {
    width: 300px;
    margin: 0; }

#player {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 300px;
  max-width: 100%;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#222));
  background: -webkit-linear-gradient(top, #444, #222);
  background: -moz-linear-gradient(top, #444, #222);
  background: -ms-radial-gradient(top, #444, #222);
  background: -o-linear-gradient(top, #444, #222);
  background: linear-gradient(to bottom, #444, #222);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 0 1.25em rgba(0, 0, 0, 0.5);
  -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 0 1.25em rgba(0, 0, 0, 0.5);
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.15), 0 0 1.25em rgba(0, 0, 0, 0.5);
  color: #fff;
  text-shadow: 1px 1px 0 #000;
  border: 1px solid #222; }
  #player #playlist {
    width: 100%;
    height: 16px;
    overflow: hidden;
    position: relative;
    transition: all .4s ease-in-out;
    font-size: 11px;
    padding: 5px 15px 10px; }
    #player #playlist .caret {
      line-height: 16px;
      cursor: pointer;
      box-sizing: border-box; }
      #player #playlist .caret:before {
        font-size: 13px;
        line-height: 1;
        content: '\f0d8';
        font-family: FontAwesome, sans-serif;
        display: inline-block; }
    #player #playlist li {
      cursor: pointer;
      color: #FFF; }
      #player #playlist li.active {
        color: #67bb2a;
        font-weight: bold; }
      #player #playlist li:hover:not(.active) {
        color: dodgerblue; }
    #player #playlist.opened {
      height: 500px;
      max-height: 100vh;
      overflow: hidden;
      box-sizing: border-box; }
      #player #playlist.opened .caret:before {
        content: '\f0d7'; }
      #player #playlist.opened ol {
        padding: 10px 10px 50px;
        border-radius: 5px;
        width: 100%;
        height: 100%;
        overflow: auto;
        list-style-position: inside;
        background-color: #4b6272;
        /*scrollbar*/
        -ms-overflow-style: none;
        overflow: -moz-scrollbars-none;
        scrollbar-width: none; }
        #player #playlist.opened ol::-webkit-scrollbar {
          width: 0; }
  #player select[name="albums"] {
    width: 150px;
    font-size: 11px;
    margin: 0 20px 15px 0;
    display: inline-block;
    padding: 0 0 0 5px;
    height: auto; }
  #player #shuffle {
    cursor: pointer;
    float: right;
    font-family: FontAwesome, sans-serif; }
    #player #shuffle:before {
      content: "\f096"; }
    #player #shuffle.checked:before {
      content: '\f046'; }
  #player audio {
    outline: none !important; }
  #player #music-player {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px; }
    #player #music-player .controls {
      width: 50px; }
      #player #music-player .controls span {
        display: inline-block;
        width: 25px;
        height: 25px;
        cursor: pointer;
        text-align: center; }
        #player #music-player .controls span:before {
          display: inline-block;
          font-family: FontAwesome, sans-serif;
          font-size: 18px; }
        #player #music-player .controls span#play-pause:before {
          content: '\f04b';
          font-size: 12px; }
        #player #music-player .controls span#play-pause.paused:before {
          content: '\f04c'; }
        #player #music-player .controls span#next:before {
          content: '\f04e';
          font-size: 14px; }
    #player #music-player .bar {
      width: calc(100% - 130px);
      text-align: center;
      box-sizing: border-box;
      padding: 0 5px; }
      #player #music-player .bar #progress-bar {
        width: 100%;
        height: 5px;
        border-radius: 5px;
        background-color: #adadad;
        cursor: pointer; }
        #player #music-player .bar #progress-bar #position {
          width: 0;
          height: 100%;
          background: -webkit-gradient(linear, left top, right top, from(#007fd1), to(#c600ff));
          background: -webkit-linear-gradient(left, #007fd1, #c600ff);
          background: -moz-linear-gradient(left, #007fd1, #c600ff);
          background: -ms-radial-gradient(left, #007fd1, #c600ff);
          background: -o-linear-gradient(left, #007fd1, #c600ff);
          background: linear-gradient(to right, #007fd1, #c600ff);
          transition: width .5s ease-in-out; }
      #player #music-player .bar .marquee {
        position: relative;
        top: 5px;
        text-align: left;
        width: 100%;
        overflow: hidden;
        white-space: nowrap;
        font-size: 12px; }
      #player #music-player .bar .marquee span {
        display: inline-block;
        width: 100%;
        text-indent: 0;
        animation: marquee 10s linear infinite; }
      #player #music-player .bar .marquee span:hover {
        animation-play-state: paused; }
@keyframes marquee {
  0% {
    transform: translate(100%, 0); }
  100% {
    transform: translate(-100%, 0); } }
      @media only screen and (max-width: 440px) {
        #player #music-player .bar .marquee span {
          animation: none;
          padding-left: 0; } }
    #player #music-player .volume {
      width: 20px;
      position: relative;
      text-align: center;
      cursor: pointer;
      font-size: 14px; }
      #player #music-player .volume:before {
        font-family: FontAwesome, sans-serif;
        display: block;
        content: '\f026'; }
      #player #music-player .volume #level {
        width: 100%;
        height: 0;
        position: absolute;
        left: 0;
        bottom: 20px;
        background-color: #f1f3f4;
        box-sizing: border-box;
        padding: 10px 5px;
        opacity: 0;
        transition: height, opacity .2s ease-in-out;
        overflow: hidden;
        webkit-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
        -moz-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
        -ms-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
        -o-transition: color .25s ease, background-color .25s ease, opacity .5s ease;
        transition: color .25s ease, background-color .25s ease, opacity .5s ease;
        -webkit-border-top-left-radius: 2px;
        -webkit-border-top-right-radius: 2px;
        -moz-border-radius-topleft: 2px;
        -moz-border-radius-topright: 2px;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        background: -webkit-gradient(linear, left top, left bottom, from(#444), to(#222));
        background: -webkit-linear-gradient(top, #444, #222);
        background: -moz-linear-gradient(top, #444, #222);
        background: -ms-radial-gradient(top, #444, #222);
        background: -o-linear-gradient(top, #444, #222);
        background: linear-gradient(to bottom, #444, #222);
        -webkit-box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.15), 2px -2px 2px rgba(0, 0, 0, 0.15);
        -moz-box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.15), 2px -2px 2px rgba(0, 0, 0, 0.15);
        box-shadow: -2px -2px 2px rgba(0, 0, 0, 0.15), 2px -2px 2px rgba(0, 0, 0, 0.15); }
        #player #music-player .volume #level.visible {
          opacity: 1;
          height: 100px; }
        #player #music-player .volume #level #scale {
          border-radius: 5px;
          position: absolute;
          bottom: 5px;
          left: 8px;
          width: 4px;
          height: 90px;
          background-color: #1971ff;
          transition: height, opacity .2s ease-in-out;
          background: -webkit-gradient(linear, left bottom, left top, from(#007fd1), to(#c600ff));
          background: -webkit-linear-gradient(bottom, #007fd1, #c600ff);
          background: -moz-linear-gradient(bottom, #007fd1, #c600ff);
          background: -ms-radial-gradient(bottom, #007fd1, #c600ff);
          background: -o-linear-gradient(bottom, #007fd1, #c600ff);
          background: linear-gradient(to top, #007fd1, #c600ff);
          -webkit-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
          -moz-box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5);
          box-shadow: inset 0 0 5px rgba(255, 255, 255, 0.5); }
    #player #music-player .time {
      text-align: center;
      white-space: nowrap;
      width: 60px;
      font-size: 10px;
      line-height: 1; }

.publication {
  overflow: hidden; }
  .publication .tags {
    font-size: 1.5rem;
    margin: 30px 0; }
    .publication .tags .tag {
      display: inline-block;
      padding: 0.25em 0.4em;
      font-size: 75%;
      line-height: 1;
      color: #fff;
      text-align: center;
      white-space: nowrap;
      vertical-align: baseline;
      border-radius: 0.25rem;
      margin: 0 3px;
      cursor: pointer;
      font-weight: 500; }
      .publication .tags .tag.tag-default {
        background-color: #818a91; }
      .publication .tags .tag.tag-primary, .publication .tags .tag:hover {
        background-color: #0275d8; }

.description .likes, .description .views {
  user-select: none; }
  .description .likes:before, .description .views:before {
    display: inline-block;
    font-size: 18px;
    font-family: FontAwesome, sans-serif;
    margin-right: 10px; }
.description .views {
  margin-right: 20px; }
  .description .views:before {
    content: '\f06e'; }
.description .likes {
  cursor: pointer; }
  .description .likes:before {
    content: '\f004'; }

.publication .content img {
  cursor: pointer; }

#public-content iframe {
  margin: 30px auto; }

#lift {
  position: fixed;
  left: 0;
  top: 0;
  width: 50px;
  height: 100%;
  transition: background-color, opacity .2s ease-in-out;
  opacity: 0; }
  #lift.visible {
    opacity: 1;
    cursor: pointer; }
  #lift:hover {
    background-color: rgba(0, 0, 0, 0.5); }
    #lift:hover:before {
      color: #FFF; }
  #lift:before {
    transition: color .2s ease-in-out;
    display: block;
    width: 100%;
    content: '\f062';
    color: #000;
    font-family: FontAwesome, sans-serif;
    font-size: 18px;
    position: absolute;
    left: 0;
    bottom: 30px;
    text-align: center; }

aside {
  grid-area: sidebar;
  width: 300px;
  box-sizing: border-box;
  padding: 0 10px; }
  aside .search-form {
    display: none; }
  aside .aside-inner.fixed {
    position: fixed;
    /*scrollbar*/
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    height: calc(100vh - 100px);
    bottom: 0;
    overflow: auto; }
    aside .aside-inner.fixed::-webkit-scrollbar {
      width: 0; }
  aside h3 {
    margin: 0 auto 30px;
    text-align: center;
    font-size: 20px; }
  aside .popular-item {
    cursor: pointer;
    padding-bottom: 30px; }
    aside .popular-item img {
      margin-bottom: 15px; }
    aside .popular-item h4 {
      font-size: 18px; }
    aside .popular-item .fa-icon:before {
      margin-left: 15px;
      display: inline-block;
      font-size: 14px;
      font-family: FontAwesome, sans-serif; }
    aside .popular-item .fa-icon.likes:before {
      content: '\f004'; }
    aside .popular-item .fa-icon.likes.liked:before {
      content: '\f004'; }
    aside .popular-item .fa-icon.views:before {
      content: '\f06e'; }

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  /*scrollbar*/
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
  scrollbar-width: none;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.75);
  user-select: none; }
  .modal::-webkit-scrollbar {
    width: 0; }
  .modal #close-modal {
    position: absolute;
    right: -20px;
    top: 0;
    cursor: pointer;
    font-size: 18px;
    color: #FFF;
    transition: color .5s ease-in-out;
    z-index: 999; }
    .modal #close-modal:hover {
      color: red; }
    .modal #close-modal:before {
      font-family: FontAwesome, sans-serif;
      content: '\f00d'; }
  .modal #modal-inner {
    padding: 60px 0;
    width: 90%;
    height: 100%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap; }
    .modal #modal-inner * {
      max-width: 100%;
      max-height: 100%; }
  .modal .publication-modal-inner {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative; }
    .modal .publication-modal-inner img {
      position: relative;
      z-index: 10;
      cursor: pointer;
      margin: 0; }
    .modal .publication-modal-inner .controls {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 5; }
      .modal .publication-modal-inner .controls > div {
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        position: absolute;
        top: 0;
        width: 50px;
        height: 100%;
        color: #FFF; }
        .modal .publication-modal-inner .controls > div:before {
          font-family: FontAwesome, sans-serif;
          display: inline-block;
          font-size: 24px;
          font-weight: bold; }
      .modal .publication-modal-inner .controls .control-left {
        left: -50px; }
        .modal .publication-modal-inner .controls .control-left:before {
          content: '\f060'; }
        .modal .publication-modal-inner .controls .control-left:hover {
          background: linear-gradient(to left, transparent, rgba(255, 255, 255, 0.1)); }
      .modal .publication-modal-inner .controls .control-right {
        right: -50px; }
        .modal .publication-modal-inner .controls .control-right:before {
          content: '\f061'; }
        .modal .publication-modal-inner .controls .control-right:hover {
          background: linear-gradient(to right, transparent, rgba(255, 255, 255, 0.1)); }
  .modal #image-wrapper {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
  .modal .open-img {
    width: 100%;
    font-size: x-small;
    text-align: right;
    line-height: 1;
    margin: 0;
    color: #FFF;
    font-weight: 300; }
    .modal .open-img a {
      color: inherit;
      position: relative;
      z-index: 10; }
  .modal #image-position {
    line-height: 1;
    color: #FFF;
    position: fixed;
    left: 30px;
    top: 30px; }

.publication-nav {
  margin-top: 30px; }
  .publication-nav .public-nav-item {
    width: 50%;
    box-sizing: border-box;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.15;
    cursor: pointer; }
    .publication-nav .public-nav-item:first-child {
      float: left;
      padding-right: 15px; }
      .publication-nav .public-nav-item:first-child:hover {
        background: linear-gradient(to left, transparent, #ededed); }
    .publication-nav .public-nav-item:last-child {
      float: right;
      text-align: right;
      padding-left: 15px; }
      .publication-nav .public-nav-item:last-child:hover {
        background: linear-gradient(to right, transparent, #ededed); }
    .publication-nav .public-nav-item img {
      width: 120px;
      height: 80px;
      object-fit: cover;
      max-width: 80%;
      display: inline;
      margin-bottom: 10px; }

.comments form textarea {
  margin-bottom: 10px;
  font-size: 16px;
  max-height: 200px;
  min-height: 100px; }
.comments #comment-form {
  display: flex;
  align-items: flex-start;
  justify-content: space-between; }
  .comments #comment-form .profile {
    width: 80px; }
    .comments #comment-form .profile img {
      width: 60px;
      height: 60px;
      margin-bottom: 5px; }
    .comments #comment-form .profile h5 {
      font-size: 16px;
      font-weight: bold; }
  .comments #comment-form .inputs {
    width: calc(100% - 80px); }
.comments h4 {
  margin-bottom: 30px; }
.comments .comment-item {
  padding: 10px 0;
  box-sizing: border-box;
  font-size: 15px;
  border-bottom: 1px solid #ededed; }
  .comments .comment-item .profile-img {
    border-radius: 100%;
    width: 18px;
    height: 18px;
    display: inline-block;
    margin-right: 5px;
    line-height: 1; }
  .comments .comment-item .profile-img-default {
    display: inline-block;
    margin-right: 5px;
    line-height: 1;
    font-size: 18px; }
    .comments .comment-item .profile-img-default:before {
      font-family: FontAwesome, sans-serif;
      content: "\f2be"; }
  .comments .comment-item .comment-images {
    margin-bottom: 10px; }
  .comments .comment-item:not(:last-child) {
    margin-bottom: 15px;
    border-bottom: 1px solid #ededed; }

form.auth {
  position: absolute;
  width: 200px;
  padding: 10px;
  left: -5px;
  top: 130%;
  background-color: #fff;
  border: 1px solid #e0e0e0;
  -webkit-box-shadow: 6px 6px 12px 0 rgba(50, 50, 50, 0.2);
  -moz-box-shadow: 6px 6px 12px 0 rgba(50, 50, 50, 0.2);
  box-shadow: 6px 6px 12px 0 rgba(50, 50, 50, 0.2);
  display: none; }
  form.auth.visible {
    display: block; }
  form.auth:before {
    content: "";
    width: 8px;
    height: 8px;
    transform: rotate(45deg);
    background-color: #fff;
    position: absolute;
    left: 8px;
    top: -5px;
    border: 1px solid #e0e0e0;
    border-right: none;
    border-bottom: none; }
  form.auth .form-group {
    margin-bottom: 10px; }
  form.auth input {
    font-size: 13px; }
  form.auth button {
    font-size: 14px;
    font-weight: bold;
    width: 100%; }

.logout {
  width: 18px;
  height: 18px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #f8f9fa; }

#profile_image {
  border-radius: 100%;
  width: 18px;
  height: 18px; }

.messenger {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.75);
  padding: 60px 0; }
  .messenger .messenger-inner {
    border-radius: 25px;
    padding: 30px;
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: #fff;
    position: relative;
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 20px; }
  .messenger #messenger-close {
    position: absolute;
    right: 17px;
    top: 7px;
    cursor: pointer; }
    .messenger #messenger-close:before {
      font-family: FontAwesome, sans-serif;
      content: "\f00d"; }
  .messenger .userlist-item {
    height: 60px;
    display: flex;
    align-items: center;
    font-size: 15px;
    cursor: pointer;
    padding: 0 5px; }
    .messenger .userlist-item.active {
      font-weight: bold;
      background-color: #eeeeee;
      cursor: default; }
    .messenger .userlist-item:hover {
      background-color: #eeeeee; }
    .messenger .userlist-item .profile-img {
      border-radius: 100%;
      width: 40px;
      height: 40px;
      margin-right: 10px;
      overflow: hidden; }
      .messenger .userlist-item .profile-img img {
        width: 100%;
        height: 100%;
        object-fit: cover; }
  .messenger .messages-inner {
    height: 625px;
    /*scrollbar*/
    -ms-overflow-style: none;
    overflow: -moz-scrollbars-none;
    scrollbar-width: none;
    overflow: auto;
    border-radius: 10px;
    border: 1px solid #ededed;
    padding: 20px;
    margin-bottom: 20px;
    -webkit-box-shadow: inset 5px 5px 14px -3px #bdb2b257;
    -moz-box-shadow: inset 5px 5px 14px -3px #bdb2b257;
    box-shadow: inset 5px 5px 14px -3px #bdb2b257; }
    .messenger .messages-inner::-webkit-scrollbar {
      width: 0; }
  .messenger .message-item {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 10px;
    font-size: 14px; }
    .messenger .message-item.from {
      justify-content: flex-end; }
      .messenger .message-item.from .message-item-inner {
        background-color: rgba(172, 255, 159, 0.4); }
    .messenger .message-item p.messages-date {
      width: 100%;
      text-align: center;
      line-height: 1;
      margin: 15px 0;
      font-size: 12px; }
    .messenger .message-item .message-item-inner {
      max-width: 49%;
      border-radius: 10px;
      padding: 10px 15px;
      box-sizing: border-box;
      display: inline-block;
      background-color: rgba(125, 255, 253, 0.4); }

.profile main {
  grid-template-columns: 300px 1fr; }
.profile .form-group.settings {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 10px; }
.profile .btn {
  position: relative; }
.profile .content-item {
  position: relative;
  padding: 30px 0 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ededed; }
  .profile .content-item .controls {
    position: absolute;
    right: 0;
    top: 0;
    cursor: pointer; }
  .profile .content-item .form-control {
    display: none; }

@media screen and (max-width: 1440px) {
  main {
    max-width: 100%; }

  .articles {
    grid-template-columns: repeat(2, 1fr); } }
@media screen and (max-width: 999px) {
  main {
    display: block; }

  header nav * {
    box-sizing: border-box;
    max-width: 100%; }
  header #auth * {
    max-width: initial; }
  header .search-form {
    margin: 15px 0; }

  body {
    position: relative; }
    body:after {
      display: block;
      content: "";
      position: fixed;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: -1;
      background-color: rgba(0, 0, 0, 0.75);
      transition: opacity .5s ease-in-out;
      opacity: 0; }
    body.overflow-hidden {
      overflow: hidden; }
      body.overflow-hidden:after {
        z-index: 0;
        opacity: 1; }

  aside {
    padding: 0;
    position: fixed;
    left: -100%;
    top: 0;
    transition: left .5s ease-in-out;
    box-sizing: border-box;
    height: 100vh;
    overflow: auto;
    z-index: 1; }
    aside > div {
      padding: 100px 10px 30px;
      background-color: #fff;
      position: relative;
      z-index: 3; }
    aside.visible {
      left: 0; }

  /* .publication {
     position: relative;
     z-index: 5;
   }*/
  .comments #comment-form .profile {
    width: 50px; }
    .comments #comment-form .profile img {
      width: 40px;
      height: 40px;
      margin-bottom: 3px; }
    .comments #comment-form .profile h5 {
      font-size: 14px; }
  .comments #comment-form .inputs {
    width: calc(100% - 60px); }
    .comments #comment-form .inputs textarea {
      font-size: 15px; }

  .modal #modal-inner {
    width: 80%; }
  .modal .publication-modal-inner .controls > div:before {
    font-size: 20px; }

  #lift {
    z-index: 5; } }
@media screen and (max-width: 599px) {
  .articles {
    grid-template-columns: 1fr; }

  .publication-nav {
    display: none; }

  h1 {
    font-size: 2.3rem; }

  .publication .tags .tag {
    font-size: 62%; }

  .comments #comment-form .profile {
    width: 40px; }
    .comments #comment-form .profile img {
      width: 30px;
      height: 30px; }
    .comments #comment-form .profile h5 {
      display: none; }
  .comments #comment-form .inputs {
    width: calc(100% - 40px); }
    .comments #comment-form .inputs textarea {
      font-size: 14px; }

  #player {
    width: 100%;
    z-index: 11; }

  #lift:before {
    bottom: 75px; } }

/*# sourceMappingURL=index.css.map */
