.comments {
  form {
    textarea {
      margin-bottom: 10px;
      font-size: 16px;
      max-height: 200px;
      min-height: 100px;
    }
  }

  #comment-form {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;

    .profile {
      width: 80px;

      img {
        width: 60px;
        height: 60px;
        margin-bottom: 5px;
      }

      h5 {
        font-size: 16px;
        font-weight: bold;
      }
    }

    .inputs {
      width: calc(100% - 80px)
    }
  }

  h4 {
    margin-bottom: 30px;
  }

  .comment-item {
    padding: 10px 0;
    box-sizing: border-box;
    font-size: 15px;
    border-bottom: 1px solid #ededed;

    .profile-img {
      border-radius: 100%;
      width: 18px;
      height: 18px;
      display: inline-block;
      margin-right: 5px;
      line-height: 1;
    }

    .profile-img-default {
      display: inline-block;
      margin-right: 5px;
      line-height: 1;
      font-size: 18px;

      &:before {
        font-family: FontAwesome, sans-serif;
        content: "\f2be";
      }
    }

    .comment-images {
      margin-bottom: 10px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;
      border-bottom: 1px solid #ededed;
    }
  }
}