.profile {
  main {
    grid-template-columns: 300px 1fr;
  }

  .form-group.settings {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
  }

  .btn {
    position: relative;
  }

  .content-item {
    position: relative;
    padding: 30px 0 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #ededed;

    .controls {
      position: absolute;
      right: 0;
      top: 0;
      cursor: pointer;
    }

    .form-control{
      display: none;
    }

  }
}