@media screen and (max-width: 599px) {

  .articles {
    grid-template-columns: 1fr;
  }

  .publication-nav {
    display: none;
  }

  h1 {
    font-size: 2.3rem;
  }

  .publication {
    .tags {
      .tag {
        font-size: 62%;
      }
    }
  }

  .comments {
    #comment-form {
      .profile {
        width: 40px;

        img {
          width: 30px;
          height: 30px;
        }

        h5 {
          display: none;
        }
      }

      .inputs {
        width: calc(100% - 40px);

        textarea {
          font-size: 14px;
        }
      }
    }
  }

  #player {
    width: 100%;
    z-index: 11;
  }

  #lift:before {
    bottom: 75px;
  }

}